<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<h1 class="text-center">THE ART SPACE</h1>

  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Kyla's Art Gallery</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>  
         </div>
  </section>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/tXVXRdF.jpg" data-holder-rendered="true">
                <div class="card-title">
                  <p class="card-text"> Elephant Dance</p>
                </div>
                <div class="card-body">
                  <p class="card-text">I had the dream once In that dream Elephant walked accross the sky.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://i.imgur.com/99HN20H.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                 <div class="card-title">
                  <p class="card-text"> Red's Sauce</p>
                </div>
                <div class="card-body">
                  <p class="card-text">This reminds me of the old italian bistro I visited in Houston. Taste is so important in life as a whole.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://i.imgur.com/hHBkEGS.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                 <div class="card-title">
                  <p class="card-text"> I am Here</p>
                </div>
                <div class="card-body">
                  <p class="card-text">I listen to Etta James "AtLast" in repeat while I painted this. I listened to the song while staring at the painting for so long it followed me into my dreams. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://i.imgur.com/y3XSsFp.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-title">
                  <p class="card-text"> The Trench</p>
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
